@import url("https://use.typekit.net/tmj2lqy.css");


* {
  box-sizing: border-box;

}

body {
  background-color: black;
  font-family: ohno-blazeface, sans-serif;
}

/* Header */
.header {
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  text-align: center;
  background-color: #6E31FF;
  color: #ffffff;
  padding: 15px;
}

#logo {
  font-size: 40px;
  color: #ffffff;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

/* Heading */
.intro {
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
}

/* Main Container */
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 680px;
  background: url(../images/Neon-Painted-Woman.jpg) 60vw;

}

/* Quote generator and button */

#container {
  background-color: #6E31FF;
  border: 7px solid #87FF6C;
  height: 720px;
  width: 500px;
  margin: 10px auto;
  text-align: center;
  font-size: 10vw;
}

h2 {
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 30px;

}

h4 {
  padding-bottom: 70px;

}

#btn {
  margin: 50px auto;
  height: 50px;
  width: 250px;
  font-size: 22px;
  font-family: ohno-blazeface, sans-serif;
  font-style: normal;
  background-color: whitesmoke;
  color: #6E31FF;
}

#output {
  margin: 25px auto;
  font-size: 16px;
  text-align: center;
  font-family: ohno-blazeface, sans-serif;
  font-style: oblique;
  color: black;
}

.author-text {
  font-size: 15px;
  font-family: fantasy;
}

#quote-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-position: right;
}


/* Gallery */
#gallery {
  height: 275px;
  width: 275px;
  margin: 5px auto;
  margin-top: 60px;


}

#image {
  height: 270px;
  width: 270px;
  border-radius: 50%;

}

.btn2 {
  margin: 0 auto;
  height: 50px;
  width: 90px;
  margin: 20px;
  background-color: #87FF6C;
  font-family: ohno-blazeface, sans-serif;

}

/* Footer with Date  and time object */

.footer {
  background-color: #6E31FF;


}

#div {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #87FF6C;
  display: flex;
  margin: 5px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #6E31FF;
  font-weight: 100;
  font-style: normal;
  color: #6E31FF;
}

#output1 {
  font-size: 12px;
  text-align: center;
}

#date {
  font-size: 12px;
  text-align: center;
}

/* Media Queries on screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .intro {
    font-size: 12px;
    text-align: center;
  }

  .flex-container {
    font-size: 15px;
    max-height: fit-content;
  }

}