@import url("https://use.typekit.net/tmj2lqy.css");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  
 
}

.header {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  text-align: center;
  background-color: #6E31FF;
  color: #ffffff;
  padding: 15px;
}

#logo {
  font-size: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  height: 680px;
  background: url(assets/images/Neon-Painted-Woman.jpg);
  
  /*background-color: #34D4E8;*/
}

/*Style quote generator and button*/

#container {
  background-color: #6E31FF;
  border: 7px solid #87FF6C;
  height: 900px;
  width: 500px;
  margin: 10px auto;
  text-align: center;
}

#btn {
  margin: 50px auto;
  height: 50px;
  width: 250px;
  font-size: 22px;
  font-family: ohno-blazeface, sans-serif;
  font-style: normal;
  background-color: whitesmoke;
  color: #6E31FF;
}

#output {
  margin: 25px auto;
  font-size: 26px;
  font-family: ohno-blazeface, sans-serif;
  font-style: oblique;
  color: black;
}

/*img{
  width:100px;
  height:100px;
  border-radius:50%;
}*/



/* Gallery */
#gallery {
  height: 350px;
  width: 350px;
  background-color: black;
  margin: 100px auto;
  text-align: 5px solid black;
  

}

#image {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  
}

.btn2 {
  /*margin: 0 auto;*/
  height: 50px;
  width: 150px;
  margin: 10px;
  background-color: #87FF6C;
  font-family: ohno-blazeface, sans-serif;
  
}




/* Footer with Date  and time item*/

.footer {
  background-color: #6E31FF;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

#div {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #87FF6C;
  display: flex;
  margin: 5px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #6E31FF;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #6E31FF;
}

#output1 {
  font-size: 10px;
  text-align: center;
}

#date {
  font-size: 10px;
  text-align: center;
}



/* Responsive layout  */

/* Small Desktops */
/*@media (min-width: 768px) and (max-width: 1096px) {

  .header {
    margin-top: 0px;
    padding-top: 0px;
  }
  }*/

  



/*@media (max-width: 800px) {

  .flex-container,
  .header {
    flex: 100%;
  }

}

@media (max-width: 600px) {
  body {
    background-color: black; 
  }
  .header {
    flex: 100%;
  }

  
}