* {
    box-sizing: border-box;
  }

  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    background-color: aqua;
    
  }

  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }

  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }